Flask==2.1.1
pymongo==3.12.1
numpy==1.21.0
scikit-learn==1.0
pandas 
mlflow==2.2.2
notebook
numpy
scikit-learn
matplotlib
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
Flask
Flask-Cors
-e .